<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Orange Box</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <style>
    #weatherWidget .currentDesc {
        color: #ffffff!important;
    }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }
        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
        }

        .btn {
          border: 2px solid gray;
          color: gray;
          background-color: white;
          padding: 8px 20px;
          border-radius: 8px;
          font-size: 20px;
          font-weight: bold;
        }

        .upload-btn-wrapper input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }

        .font-design {
            font-size: 90px;
            padding-left: 2rem;
            color: #00aeff;
        }

        .newbtn:hover {
            background-color: orange!important;
            color: white!important
        }

    </style>
</head>
<body >


                        <!-- <button type="submit" name="login" value="login" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button> -->


                <form style="max-width: 350px;" method="post" action="">

                    <!-- Modal -->
                    <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="newFolderModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="newFolderModalLabel" style="display: inline">New Folder</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                                <label>Folder Name</label>
                                <input type="text" id="newfoldername" class="form-control" name="folderName" placeholder="Folder Name">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="" data-dismiss="modal" style="background-color: red; color: white; border:none; padding: 8px;float: right; cursor: pointer; border-radius: 5px">Close</button>
                            <!--
                                gaurav create new folder
                                Button to create new folder
                                 -->
                            <button type="submit" class="" data-dismiss="modal" onclick="createFolder('{{globalpname}}')" style="background-color: green; color: white; border:none; padding: 8px;float: right; cursor: pointer; border-radius: 5px">Create Folder</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>

                    <div class="modal fade" id="myModal" role="dialog" style="z-index: 2000">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header" style="">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Create New File</h4>
                            </div>
                            <div class="modal-body">
                              <div class="upload-btn-wrapper" style="margin-left: 30%; ">
                                  <button class="btn" >Upload a file</button>
                                  <input type="file" id="file" name="myfile" />
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button class="" data-dismiss="modal" style="border:1px solid lightgray; background-color: orange; padding: 10px;font-size: 1.2em; color: white; cursor: pointer; border-radius: 10px" onclick="uploadFile({{globalpname}})">Submit</button>
                            </div>
                          </div>

                        </div>
                      </div>

    <!-- Left Panel -->
   <!--  <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active" style="border-radius: 50px; border:1px solid gray; width: 200px; margin-left: 30px; margin-top: 12px">
                        <a  style="text-align: center; cursor: pointer">Create New </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon ti-folder"></i>My Drive</a>
                        <ul class="sub-menu children dropdown-menu">                            <li><i class="ti-folder"></i><a href="index.html">Document</a></li>
                            <li><i class="ti-folder"></i><a href="index.html">Music</a></li>
                            <li><i class="ti-folder"></i><a href="index.html">Video</a></li>

                            <li><i class="ti-folder"></i><a href="index.html">Pictures</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="index.html"> <i class="menu-icon ti-user"></i>Shared With me </a>
                    </li>

                    <li>
                        <a href="index.html"> <i class="menu-icon ti-timer"></i>Recent </a>
                    </li>

                    <li>
                        <a href="index.html"> <i class="menu-icon ti-star"></i>Starred </a>
                    </li>

                    <li>
                        <a href="index.html"> <i class="menu-icon ti-trash"></i>Trash </a>
                    </li>

                    <li style="border-bottom: 1px solid lightgray">
                        <span style="color: white">.</span>
                    </li>

                    <li>
                        <a href="index.html"> <i class="menu-icon ti-cloud"></i>Backups </a>
                    </li>

                    <li style="border-bottom: 1px solid lightgray">
                        <span style="color: white">.</span>
                    </li>

                </ul>
            </div>
        </nav>
    </aside> -->
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel" style="background-color: transparent;">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./" style="height: 20px"><img src="./images/logo.png" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">


                        <!-- <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">3</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div> -->



                    <div class="user-area dropdown float-right">
                        <a class="nav-link" href="/logout"><i class="fa fa-power -off"></i>Logout</a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>{{user.name}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <div class="clearfix"></div>
                <!-- Orders -->


                <div class="orders">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card" style="padding-bottom: 1rem">
                                <div class="card-body">
                                        <a href="javascript:javascript:history.go(-1)">
                                            <i class="fas fa-arrow-circle-left" style="color: darkorange; font-size: 30px; cursor: pointer" ></i>
                                        </a>
                                        {{globalpname}}
                                    <button class="newbtn" style="background-color: transparent; color: darkorange; border-top: 1px solid darkorange; padding: 9px; float: right; cursor: pointer; border-bottom: 1px solid darkorange; border-left: 0; border-right: 0;"  data-toggle="modal" data-target="#newFolderModal">New Folder <i class="fa fa-plus"></i> </button>
                                </div>
                                <div class="row card-body-- " >
                                    {{#each res}}

                                    {{#ifCond this.type 1}}
                                    <div class="col-lg-2 col-md-2 m-2 p-2 ml-4"  style="height: 150px; overflow: hidden">
                                            <div class="card file-right" id="{{this.id}}" style="height: 100%; width: 150px">
                                                <div style="height: 110px;cursor: pointer;" >
                                                    <i class="fas fa-folder font-design" style="color: #ff8700; padding-top: 1rem"></i>
                                                </div>
                                                <div style="font-size: 12px; margin: 0 1rem; text-align: center">
                                                    <a class="nav-link" href="/openfolder/{{this.id}}">{{this.name}}</a>
                                                    <a class="" href="/makeshare/{{this.id}}" target="_blank" style="width: fit-content; position: absolute; top: 5px; right: 10px; font-size: 15px; border: 1px solid #2d2d2d; padding: 3px 7px; border-radius: 50%;" >
                                                        <i class="fas fa-share"></i>
                                                    </a>
                                                 </div>
                                            </div>
                                    </div>
                                    {{else}}
                                    <a href="{{this.link}}">
                                    <div class="col-lg-2 col-md-2 m-2 p-2 ml-4"  style="height: 150px; overflow: hidden">
                                        <div class="card file-right" id="{{this.id}}" style="height: 100%; width: 150px">
                                            <div style="height: 110px">
                                                {{#ifCond this.extension '.jpg'}}
                                                    <img src="{{this.link}}" alt="">
                                                {{else}}
                                                    {{#ifCond this.extension '.png'}}
                                                        <img src="{{this.link}}" alt="">
                                                    {{else}}
                                                        {{#ifCond this.extension '.pdf'}}
                                                            <i class="fa fa-file-pdf-o font-design" style="color: #ff8700; padding-top: 1rem"></i>
                                                        {{else}}
                                                            {{#ifCond this.extension '.jpeg'}}
                                                                <img src="{{this.link}}" alt="">
                                                            {{else}}
                                                                <i class="fa fa-file font-design" style="color: #ff8700; padding-top: 1rem"></i>
                                                            {{/ifCond}}
                                                        {{/ifCond}}
                                                    {{/ifCond}}
                                                {{/ifCond}}
                                            </div>
                                            <a href="{{this.link}}" style="font-size: 12px; padding: 0 1rem; overflow: hidden; background: whitesmoke; padding-bottom: 3rem">
                                                {{this.name}}

                                            </a>
                                                <a class="" href="/makeshare/{{this.id}}" target="_blank" style="width: fit-content; position: absolute; top: 5px; right: 10px; font-size: 15px; border: 1px solid lightgray; padding: 3px 7px; border-radius: 50%; background: whitesmoke; box-shadow: 2px 2px 2px lightgrey; color: gray" >
                                                    <i class="fas fa-share"></i>
                                                </a>
                                        </div>
                                    </div>
                                    </a>
                                    {{/ifCond}}
                                    <div class="dropdown-menu dropdown-menu-sm" id="context-menu">
                                      <a class="dropdown-item del" href="#" style="background-color: crimson; color: white" >Delete</a>
                                    </div>
                                    {{/each}}
                                    <div class="col-lg-2" data-toggle="modal" data-target="#myModal">
                                        <i class="fas fa-upload" style="font-size: 60px; color: orange; border: 4px dotted; padding: 2rem; margin: 2rem; border-radius: 12px; cursor: pointer; margin-top: 1rem"> </i>
                                    </div>
                                </div>






                            </div> <!-- /.card -->
                        </div>  <!-- /.col-lg-8 -->

                    </div>
                </div>

                <script>
                    Handlebars.registerHelper('ifCond', function(v1, v2, options) {

                      if(v1 === v2) {
                        return options.fn(this);
                      }
                      return options.inverse(this);
                    });
                </script>

                <!-- /.orders -->
                <!-- To Do and Live Chat -->
                <!-- /To Do and Live Chat -->
                <!-- Calender Chart Weather  -->
                <!-- /Calender Chart Weather -->
                <!-- Modal - Calendar - Add New Event -->
                <!-- /#event-modal -->
                <!-- Modal - Calendar - Add Category -->
                <div class="modal fade none-border" id="add-category">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"><strong>Add a category </strong></h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="control-label">Category Name</label>
                                            <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name"/>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Choose Category Color</label>
                                            <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                                <option value="success">Success</option>
                                                <option value="danger">Danger</option>
                                                <option value="info">Info</option>
                                                <option value="pink">Pink</option>
                                                <option value="primary">Primary</option>
                                                <option value="warning">Warning</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /#add-category -->
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">

        </footer>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="assets/js/main.js"></script>

    <!--  Chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

    <!--Chartist Chart-->
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="assets/js/init/weather-init.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
    <script src="assets/js/init/fullcalendar-init.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/fileupload.js"></script>
    <script type="text/javascript" src="assets/js/createfolder.js"></script>
    <script type="text/javascript" src="assets/js/openfolder.js"></script>
    <script type="text/javascript" src="assets/js/deleteFolder.js"></script>
    <!--Local Stuff-->
    <script type="text/javascript">
        var folderID;
        $('.file-right').on('contextmenu', function(e) {
          // console.log(e.currentTarget.id);
          folderID= e.currentTarget.id;
          var top = e.pageY - 25;
          var left = e.pageX - 90;
          $("#context-menu").css({
            display: "block",
            top: top,
            left: left
          }).addClass("show");
          return false; //blocks default Webbrowser right click menu
        }).on("click", function() {
          $("#context-menu").removeClass("show").hide();
        });

        $("#context-menu .del").on("click", function() {
            console.log(folderID);
            // Gaurav Delete
            // deleteFolderID contains the id of folder
            deleteFolder(folderID);
        });

        $("#context-menu .share").on("click", function() {
            // Gaurav Delete
            // deleteFolderID contains the id of folder
            var url= "localhost:8090/makeshare/"+ folderID;
            // console.log(url);
            // window.location.href= url;
            window.open(url,'_blank');
        });

        $(window).click(function(e) {
           $("#context-menu").removeClass("show").hide();
        });

    </script>
    <script>
        jQuery(document).ready(function($) {
            "use strict";

            // Pie chart flotPie1
            var piedata = [
                { label: "Desktop visits", data: [[1,32]], color: '#5c6bc0'},
                { label: "Tab visits", data: [[1,33]], color: '#ef5350'},
                { label: "Mobile visits", data: [[1,35]], color: '#66bb6a'}
            ];

            $.plot('#flotPie1', piedata, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        innerRadius: 0.65,
                        label: {
                            show: true,
                            radius: 2/3,
                            threshold: 1
                        },
                        stroke: {
                            width: 0
                        }
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                }
            });
            // Pie chart flotPie1  End
            // cellPaiChart
            var cellPaiChart = [
                { label: "Direct Sell", data: [[1,65]], color: '#5b83de'},
                { label: "Channel Sell", data: [[1,35]], color: '#00bfa5'}
            ];
            $.plot('#cellPaiChart', cellPaiChart, {
                series: {
                    pie: {
                        show: true,
                        stroke: {
                            width: 0
                        }
                    }
                },
                legend: {
                    show: false
                },grid: {
                    hoverable: true,
                    clickable: true
                }

            });
            // cellPaiChart End
            // Line Chart  #flotLine5
            var newCust = [[0, 3], [1, 5], [2,4], [3, 7], [4, 9], [5, 3], [6, 6], [7, 4], [8, 10]];

            var plot = $.plot($('#flotLine5'),[{
                data: newCust,
                label: 'New Data Flow',
                color: '#fff'
            }],
            {
                series: {
                    lines: {
                        show: true,
                        lineColor: '#fff',
                        lineWidth: 2
                    },
                    points: {
                        show: true,
                        fill: true,
                        fillColor: "#ffffff",
                        symbol: "circle",
                        radius: 3
                    },
                    shadowSize: 0
                },
                points: {
                    show: true,
                },
                legend: {
                    show: false
                },
                grid: {
                    show: false
                }
            });
            // Line Chart  #flotLine5 End
            // Traffic Chart using chartist
            if ($('#traffic-chart').length) {
                var chart = new Chartist.Line('#traffic-chart', {
                  labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                  series: [
                  [0, 18000, 35000,  25000,  22000,  0],
                  [0, 33000, 15000,  20000,  15000,  300],
                  [0, 15000, 28000,  15000,  30000,  5000]
                  ]
              }, {
                  low: 0,
                  showArea: true,
                  showLine: false,
                  showPoint: false,
                  fullWidth: true,
                  axisX: {
                    showGrid: true
                }
            });

                chart.on('draw', function(data) {
                    if(data.type === 'line' || data.type === 'area') {
                        data.element.animate({
                            d: {
                                begin: 2000 * data.index,
                                dur: 2000,
                                from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                                to: data.path.clone().stringify(),
                                easing: Chartist.Svg.Easing.easeOutQuint
                            }
                        });
                    }
                });
            }
            // Traffic Chart using chartist End
            //Traffic chart chart-js
            if ($('#TrafficChart').length) {
                var ctx = document.getElementById( "TrafficChart" );
                ctx.height = 150;
                var myChart = new Chart( ctx, {
                    type: 'line',
                    data: {
                        labels: [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul" ],
                        datasets: [
                        {
                            label: "Visit",
                            borderColor: "rgba(4, 73, 203,.09)",
                            borderWidth: "1",
                            backgroundColor: "rgba(4, 73, 203,.5)",
                            data: [ 0, 2900, 5000, 3300, 6000, 3250, 0 ]
                        },
                        {
                            label: "Bounce",
                            borderColor: "rgba(245, 23, 66, 0.9)",
                            borderWidth: "1",
                            backgroundColor: "rgba(245, 23, 66,.5)",
                            pointHighlightStroke: "rgba(245, 23, 66,.5)",
                            data: [ 0, 4200, 4500, 1600, 4200, 1500, 4000 ]
                        },
                        {
                            label: "Targeted",
                            borderColor: "rgba(40, 169, 46, 0.9)",
                            borderWidth: "1",
                            backgroundColor: "rgba(40, 169, 46, .5)",
                            pointHighlightStroke: "rgba(40, 169, 46,.5)",
                            data: [1000, 5200, 3600, 2600, 4200, 5300, 0 ]
                        }
                        ]
                    },
                    options: {
                        responsive: true,
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        }

                    }
                } );
            }
            //Traffic chart chart-js  End
            // Bar Chart #flotBarChart
            $.plot("#flotBarChart", [{
                data: [[0, 18], [2, 8], [4, 5], [6, 13],[8,5], [10,7],[12,4], [14,6],[16,15], [18, 9],[20,17], [22,7],[24,4], [26,9],[28,11]],
                bars: {
                    show: true,
                    lineWidth: 0,
                    fillColor: '#ffffff8a'
                }
            }], {
                grid: {
                    show: false
                }
            });
            // Bar Chart #flotBarChart End
        });
    </script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#file").on("change",function(event){
            selectedFile=event.target.files[0];
        });
    });
    function uploadFile(globalpname){
    //create root reference
    var filename = selectedFile.name;
    var storageRef=firebase.storage().ref('/profileImages/'+ filename);
    console.log("storage ref is");
    console.log(storageRef);
    var uploadTask= storageRef.put(selectedFile);

     // Register three observers:
    // 1. 'state_changed' observer, called any time the state changes
    // 2. Error observer, called on failure
    // 3. Completion observer, called on successful completion
    uploadTask.on('state_changed', function(snapshot){
      // Observe state change events such as progress, pause, and resume
      // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
      var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
      console.log('Upload is ' + progress + '% done');
      switch (snapshot.state) {
        case firebase.storage.TaskState.PAUSED: // or 'paused'
          console.log('Upload is paused');
          break;
        case firebase.storage.TaskState.RUNNING: // or 'running'
          console.log('Upload is running');
          break;
      }
    }, function(error) {
      // Handle unsuccessful uploads
      console.log("there is an error!");
    }, function() {
      // Handle successful uploads on complete
      // For instance, get the download URL: https://firebasestorage.googleapis.com/...
      var downloadURL = uploadTask.snapshot.downloadURL;
      // console.log(globalpname)
       //change dp
        $.ajax({
          url: '/fileupload',
          type: 'POST',
          data: {url:downloadURL,name:filename, globalpname: globalpname},
          success: function(result){
            console.log("request sent to server");
          }
        });
    });

    }
    </script>
</body>
</html>
